[submodule "submodules/ethereum-abi-types-generator"]
	path = submodules/ethereum-abi-types-generator
	url = git@github.com:niZmosis/ethereum-abi-types-generator.git
[submodule "submodules/ethereum-multicall"]
	path = submodules/ethereum-multicall
	url = git@github.com:niZmosis/ethereum-multicall.git
