[submodule "submodules/abi-toolkit"]
	path = submodules/abi-toolkit
	url = git@github.com:niZmosis/abi-toolkit.git
[submodule "submodules/multicall-toolkit"]
	path = submodules/multicall-toolkit
	url = git@github.com:niZmosis/multicall-toolkit.git
