shamefully-hoist=true
link-workspace-packages=deep
# Important! Never install from registry
prefer-workspace-packages=true
# This prevents the examples from having the `workspace:` prefix
save-workspace-protocol=false
auto-install-peers=false